<!-- <p>
  viewing-mishaps-status works!
</p> -->
<!-- <div *ngIf='mishaps != null && mishaps.length > 0'> -->
  <br>
<app-information-of-mishap *ngFor="let mishap of mishaps" [mishap]="mishap"></app-information-of-mishap>
<!-- <div *ngFor="let mishap of mishaps; index as i;">
  
 <div><label>{{mishap.mishap_code}}</label>:קוד תקלה</div>

  <label>{{mishap.mishap_description}} </label>:תאור
  <br>
  <label>{{mishap.mishap_status_code}}</label> -->
  <!-- <label>{{mishap.Mishap_Status.description_of_the_status}}</label>:מצב
  <br>
 
</div> -->
<!-- </div> -->
<!-- <div>Single mishap: {{mishap.mishap_description}}</div>
<a type="button" class="btn btn-secondary" href="/information-of-mishap"  role="button"> information-of-mishap פירוט על תקלה </a> --> 