<h1>המוסכניק</h1>
<label>enter your id:</label>
<br>

<textarea name="" id="" [(ngModel)]="userName" >enter your id:</textarea>
<br>
<label>enter your password:</label>
<br>
<textarea  name="" id="" [(ngModel)]="password" >enter your password:</textarea>
<br>
<br>
<a type="button" class="btn btn-secondary"   role="button" (click)="Login()"> enter</a>
<br>
<br>
<a type="href"  href="/new-user" > משתמש חדש</a>
<!-- <a type="button" class="btn btn-secondary" href="/manager"  role="button">enter manager</a> -->
<!-- <a class="btn btn-primary" href="#" >Link</a -->
<!-- <a class="nav-item nav-link">Features</a> -->
<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button> -->

<!-- <button [disabled]="password.value=='' || !password.valid"‏></button> -->












<!-- <div class="form-group">
  <label for="phone">מספר טלפון</label>
  <input type="tel" class="form-control" placeholder="הכנס מספר טלפון" name="phone" pattern='^[0-9]*$' minlength="9" maxlength="10" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required  />
  <div *ngIf="f.submitted && phone.errors
  " class="invalid-feedback">
      <div *ngIf="phone.errors.required">שדה זה הינו חובה</div>
      <div *ngIf="phone.errors.pattern">ערך לא תקין</div>
      <div *ngIf="phone.errors.minlength">חובה להכניס לפחות 9 ספרות</div>
  </div>
</div>
<div class="form-group">
  <label for="remarks">הערות</label>
  <textarea class="form-control" placeholder="שתף אותנו בחוויה..." name="remarks" [(ngModel)]="model.remarks" #remarks="ngModel"></textarea>
</div> -->