<!-- <p>
 999999999 manager works!
</p> -->
<!-- <button routerLink="/update-malfunction">888</button> -->
<br>
<br>
<!-- Update mishap- -->
<a type="button" class="btn btn-secondary" href="/update-mishap" role="button">עידכון תקלה</a>
<br><br><br>
<!-- <a type="button" class="btn btn-secondary"  href="#" routerLink="/manager/update-malfunction"  role="button">Update malfunction-עידכון תקלה</a> -->
<!-- View employee points- -->
<a type="button" class="btn btn-secondary" href="/view-employee-points" role="button">צפיה בנקודות עובדים </a>
<br><br><br>
<!-- viewing-mishaps-status- -->
<a type="button" class="btn btn-secondary" href="/viewing-mishaps-status"  role="button">צפיה במצב תקלות </a>
<br><br><br>