<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
  {{title}}
  </h1>
  <nav>
<a[routerLink]="['/']"routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">manager</a>
</nav> -->
<!-- ///////////////////////////////////////////<app-navbar></app-navbar> -->
<!-- <app-employee></app-employee>
<app-manager></app-manager> -->
<!-- <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">manager</a> -->
<router-outlet></router-outlet>
<!-- <app-first-name></app-first-name> -->
<!-- <app-password></app-password> -->
<!-- </br>
<app-enter></app-enter> -->
</div>