<p>
  new-user works!
</p>
<br>
<br><br>
<div *ngFor="let user of users;"style="align-content:center">
  <h6><label>{{user.id_user}} .ת.ז</label></h6>

    <br><label> שם משפחה  :{{user.last_name}}  </label>
    <br><label >שם פרטי  : {{user.first_name}}  </label>
    <br><label >מספר טלפון   : {{user.tel_number}}  </label>
    <br><label > כתובת  : {{user.address}}  </label>
    <br><label > {{user.registertion_date}}  תאריך רישום   </label>
    <br><label >{{user.mail_address}} כתובת אמייל     </label>
    <br><label > {{user.password}}  סיסמא </label>
    <br>
   <br>
</div>
